/* Gruvbox Hard for Wofi */

/* Window */
window {
  margin: 5px;
  border: 2px solid #d3869b; /* purple accent */
}

#outer-box {
  background-color: #1d2021; /* dark0_hard */
  border: 2px solid #79740e;
  border-radius: 10px;
}

/* Single entry (each app) */
#entry {
  font: 12pt "JetBrainsMono Nerd Font";
  color: #d3d6a5; /* foreground */
  background-color: #3c3836; /* dark0_hard */
  padding: 5px 8px;
  margin-top: 2px;
  border-radius: 6px;
}

/* Selected entry */
#entry:selected {
  font: 12pt "JetBrainsMono Nerd Font";
  background-color: #3c3836; /* dark1 */
  color: #fe8019; /* yellow accent */
}

/* Optional: hover effect */
#entry:hover {
  background-color: #504945; /* dark2 */
  color: #b8bb26; /* green accent */
}

/* Scrollbar */
#scroll {
  background-color: #1d2021; /* dark3 */
  border-radius: 4px;
  width: 6px;
}

/* Input text (search) */
#input {
  font: 12pt "JetBrainsMono Nerd Font";
  background-color: #1d2021; /* dark0_hard */
  border: 2px solid #79740e;
  color: #ebdbb2;
}
