window {
  background-color: #282a36;
  border: 2px solid #bd93f9;
  border-radius: 8px;
  padding: 6px;
}

listview {
  background-color: #282a36;
  border-radius: 8px;
  spacing: 4px;
}

entry {
  font: 12pt "JetBrainsMono Nerd Font";
  color: #f8f8f2;
  padding: 4px;
  border-radius: 4px;
}

entry:selected {
  background-color: #44475a;
  color: #f8f8f2;
}

scrollbar {
  background-color: #6272a4;
  border-radius: 4px;
}
